
// Import Bootstrap and its default variables
@import '~bootstrap/dist/css/bootstrap.min.css';


.inline-block{
    display: inline-block;
}

.icon-pad{
    margin: 0 5px;
}
 
.pointer{
    cursor: pointer;
}